# Environnement virtuel Python
venv/
env/
ENV/
venv*/
.venv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Variables d'environnement
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# macOS/Windows
.DS_Store
Thumbs.db
